html {
	box-sizing: border-box;
}

*,
*::after,
*::before {
	box-sizing: inherit;
}

a {
	text-decoration: none;
	color: inherit;
}

button {
	padding: 0;
	border: none;
	background-color: transparent;
}

ul {
	list-style: none;
}

body {
	color: #161718;
	font-size: 20px;
	font-weight: 300;
	line-height: 1.5;
	font-family: "Open Sans", sans-serif;
	position: relative;
	/* font-family: "Cormorant", serif; */
}

.title {
	text-align: center;
	margin-bottom: 60px;
	font-family: "Cormorant", serif;
	font-size: 40px;
	font-weight: 400;
}

.container {
	width: 100%;
	max-width: 1240px;
	margin: 0 auto;
	padding-right: 20px;
	padding-left: 20px;
}

.mobile-nav, .menu__close {
	display: none;
}

.menu--close {
	display: none;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, .5);
	z-index: 1;
	transition: background-color .3s ease;
}

.menu--close.menu--open {
	display: block;
}

/* Header */

.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 0;
	min-height: 140px;
}

.logo {
	margin-bottom: 35px;
}

.menu__btn {
	display: none;
	width: 40px;
	height: 20px;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
	z-index: 2;
}

.menu__btn span {
	background-color: #000;
	height: 2px;
	width: 100%;
}

.menu__list {
	display: flex;
	align-items: center;
	gap: 0 65px;
	font-weight: 400;
	font-size: 18px;
	margin-left: 85px;
	position: relative;
	z-index: 3;
}

.user-actions {
	display: flex;
	align-items: center;
	gap: 0 20px;
}

.user-actions__item-search {
	margin-left: 80px;
}

/* Top */

.top {
	background-image: url(../images/top-bg.jpg);
	background-repeat: no-repeat;
	background-position: bottom left;
	background-size: cover;
}

.top__inner {
	min-height: 500px;
	color: #fff;
	font-family: "Cormorant", serif;
	font-weight: 400;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.top__title {
	font-size: 60px;
	margin-bottom: 20px;
	max-width: 780px;
	line-height: 1;
	font-weight: 400;
}

.top__text {
	font-size: 24px;
	margin-bottom: 48px;
	max-width: 560px;
	line-height: normal;
}

.blockquote__text {
	text-align: center;
	font-family: "Cormorant", serif;
	font-size: 40px;
	font-style: italic;
	max-width: 704px;
	font-weight: normal;
	margin: 150px auto;
}

/* Assortiment */

.assortiment {
	margin-bottom: 150px;
}

.assortiment__list {
	/* display: flex;
	justify-content: space-between; */
	text-align: center;
	display: flex;
	gap: 0 40px;
}

.assortiment__img {
	max-width: 208px;
	max-height: 208px;
	width: 100%;
}

.assortiment__name {
	padding-top: 10px;
	font-family: "Cormorant", serif;
	font-weight: 400;
	font-size: 24px;
}

/* Reviews */

.reviews {
	background-color: #F7F2EA;
	padding: 60px 0;
}

.reviews__list {
	display: flex;
	gap: 0 26px;
	justify-content: center ;
}

.reviews__item {
	flex-basis: 280px;
}

.reviews__text {
	font-size: 16px;
	font-style: italic;
	margin-bottom: 20px;
}

.reviews__name {
	font-style: normal;
	font-weight: 600;
}

/* Main-Blog */

.main-blog {
	padding: 150px 0;
}

.main-blog__list {
	display: flex;
	flex-wrap: wrap;
	gap: 58px 40px;
}

.main-blog__item-content {
	display: flex;
	flex-direction: column;
}

.main-blog__item {
	flex-basis: 542px;
	display: flex;
	gap: 0 20px;
}

.main-blog__item-title {
	font-family: "Cormorant", serif;
	line-height: normal;
	font-size: 24px;
	font-weight: 400;
	margin-bottom: 10px;
	min-height: 86px;
}

.main-blog__item-author {
	font-size: 13px;
}

.main-blog__item-link {
	font-size: 13px;
	margin-top: auto;
	position: relative;
}

.main-blog__item-link::after {
	content: '';
	background-image: url("../images/arrow.svg");
	position: absolute;
	top: 1px;
	width: 5px;
	height: 10px;
	margin-left: 8px;
}

.main-blog__link {
	padding: 12px 41px;
	display: flex;
	justify-content: center;
	margin: 72px auto 0;
	border: 1px solid #151618;
	width: 150px;
}

/* Main List */

.mailing-list {
	padding: 100px 0;
	background-color: #f7f2ea;
	background-image: url(../images/main-list-bg.png);
	background-position: bottom right;
	background-repeat: no-repeat;
}

.mailing-list__title {
	text-align: left;
	margin-bottom: 50px;
}

.mailing-list__inner {
	display: flex;
	gap: 60px 40px;
}

.mailing-list__text {
	line-height: 1.5;
	flex-basis: 580px;
}

.mailing-list__form {
	display: flex;
	flex-wrap: wrap;
	flex-basis: 580px;
}

.mailing-list__email {
	border: none;
	border-bottom: 1px solid #b8b58b;
	background-color: transparent;
	padding: 3px 15px;
	width: 438px;
	margin-right: 25px;
	font-family: 'Open Sans', san-serif;
	font-size: 20px;
	font-style: normal;
	font-weight: 300;
	line-height: 150%;
	color: #151618;
}

.mailing-list__email::placeholder {
	font-family: 'Open Sans', san-serif;
	font-size: 20px;
	font-style: normal;
	font-weight: 300;
	line-height: 150%;
	color: #b8b58b;
}

.mailing-list__btn {
	font-family: 'Open Sans', san-serif;
	background-color: #fff;
	border: 1px solid #151618;
	padding: 12px 41px;
	font-size: 20px;
	font-weight: 300;
	cursor: pointer;
}

.mailing-list__label {
	margin-top: 16px;
}

.checkbox__text {
	font-size: 13px;
	padding-left: 20px;
}

.checkbox {
	position: absolute;
	width: 1px;
	height: 1px;
	clip: rect(0, 0, 0, 0);
	overflow: hidden;
	padding-left: 20px;
}

.checkbox-style {
	position: absolute;
	width: 10px;
	height: 10px;
	border: 1px solid #151618;
	margin-top: 5px;
}

.checkbox:checked + .checkbox-style::before {
	content: '';
	position: absolute;
	height: 6px;
	width: 6px;
	background-color: #000;
	top: 1px;
	left: 1px;
}

/* Prioritase */

.prioritase {
	padding: 150px 0;
}

.prioritase__list {
	display: flex;
	text-align: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 30px 49px;
}

.prioritase__title {
	font-size: 30px;
	margin-bottom: 10px;
	font-weight: 300;
}

.prioritase__text {
	font-weight: 600;
	margin-bottom: 30px;
}

/* Footer */

.footer {
	padding: 100px 0 20px;
	background-color: #f7f2ea;
}

.footer__inner {
	margin-bottom: 100px;
	display: grid;
	grid-template-columns: repeat(4, 1fr); 
	gap: 0 40px;
}

.footer__products-title,
.footer__company-title,
.footer__contacts-title {
	font-weight: 400;
	font-size: 24px;
	font-family: 'Cormorant', serif;
	margin-bottom: 50px;
} 

.footer__products-item,
.footer__company-item {
	margin-bottom: 20px;
}

.footer__blockquote-text {
	margin-top: 80px;
	font-style: italic;
	margin-bottom: 20px;
}

.footer__blockquote-author {
	font-size: 12px;
	font-style: normal;
}

.footer__blockquote-author span {
	display: block;
}

.footer__contacts-text {
	font-size: 13px;
	margin-bottom: 20px;
}

.footer__nav {
	display: flex;
	flex-wrap: wrap;
}

.footer__nav-logo {
	margin-right: 40px;
}

.footer__nav-contacts {
	margin-top: 20px;
}

.footer__nav-phone,
.footer__nav-email {
	font-size: 13px;
	position: relative;
	padding-left: 32px;
	display: block;
	margin-bottom: 30px;
}

.footer__nav-phone::before,
.footer__nav-email::before {
	content: '';
	position: absolute;
	top: 2px;
	left: 0;
	width: 22px;
	height: 16px;
	background-image: url(../images/mail.svg);
}

.footer__nav-phone::before {
	background-image: url(../images/phone.svg);
	width: 21px;
	height: 21px;
}

.footer__social {
	margin-top: 40px;
	margin-left: 116px;
}

.footer__social-list {
	display: flex;
	align-items: center;
	gap: 0 20px;
}

.footer__social-link {
	display: grid;
}

.footer__bottom {
	display: flex;
}

.footer__copy {
	margin-right: 192px;
	font-size: 16px;
}

.partners-logo{
	display: flex;
	gap: 0 20px;
	align-items: center;
}

/* Media  */
@media (max-width: 1000px) {

	.title {
		margin-bottom: 30px;
	}

	.user-actions__item-search {
		margin-left: 30px;
	}
	.menu {
		margin-right: auto;
	}
	.menu__list {
		margin-left: 60px;
	}
	.logo {
		margin-bottom: 0;
	}
	.header__inner {
		min-height: auto;
	}
	.blockquote__text {
		margin-top: 120px;
		margin-bottom: 135px;
	}
	.assortiment {
		margin-bottom: 120px;
	}
	.assortiment__list {
		gap: 0; 
	}
	.reviews__item:last-child  {
		display: none ;
	}
	.main-blog {
		padding: 120px 0;
	}
	.main-blog__item-img {
		max-width: 230px;
	}
	.main-blog__list {
		gap: 67px 20px;
	}
	.main-blog__item {
		flex-basis: 460px;
	}
	.main-blog__link {
		margin-top: 60px;
	}
	.mailing-list__inner {
		flex-wrap: wrap;
		justify-content: center;
	}
	.mailing-list {
		padding: 60px 0;
	}
	.mailing-list__title {
		text-align: center;
	}
	.mailing-list__text {
		text-align: center;
		flex-basis: 780px ;
	}
	.prioritase {
		padding: 120px 0;
	}
	.prioritase__list {
		gap: 30px 210px;
	}
	.footer__blockquote {
		width: 270px;
	}
	.footer__blockquote-text {
		margin-top: 0;
	}
	.footer__inner {
		margin-bottom: 55px;
	}
	.footer__copy {
		margin-right: 85px;
	}
	.footer__nav-logo {
		margin-right: 35px;
	}
	.footer__contacts {
		width: 270px;
	}
}

@media (max-width: 860px) {
	.mobile-nav, .menu__close {
		display: block;
	}

	.menu__list {
		transform: translateY(-100%);
		transition: transform .6s ease;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		width: 480px;
		margin: 0 auto;
		background-color: #fff;
		display: block;
		text-align: center;
		padding-top: 60px;
	}
	.menu__list.menu__list--open {
		transform: translateY(0%);
	}
	.menu__item {
		margin-bottom: 30px;
		font-size: 24px;
		font-family: 'Cormorant', serif;
	}
	.mobile__menu {
		padding-top: 60px;
		margin: 60px 30px;
		border-top: 2px solid #f7f2ea;
	}
	.mobile__menu-item {
		margin-bottom: 35px;
	} 
	.mobile-actions {
		background-color: #F7F2EA;
		height: 60px;
		padding: 0 80px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.menu__close-btn {
		position: absolute;
		top: 20px;
		right: 20px;
	}
	.menu__btn {
		display: flex;
	}
	.menu {
		order: -1;
		margin-right: 0;
	}
	.logo {
		margin-right: auto;
		margin-left: auto;
	}
	
}

@media (max-width: 768px) {

	.header__inner {
		padding-left: 64px;
		padding-right: 64px;
	}
	.blockquote__text {
		max-width: 640px ;
	}
	.assortiment__list {
		gap: 0 6px;
		flex-wrap: wrap;
		justify-content: center;
	}
	.reviews__item:last-child  {
		display: block;
	}
	.reviews__list {
		flex-wrap: wrap;
		gap: 30px 76px;
	}
	.main-blog__item {
		flex-basis: 542px;
	}
	.main-blog__item-img {
		max-width: 270px;
	}
	.main-blog__list {
		gap: 30px 20px;
	}
	.main-blog__item:nth-child(even) {
		margin-left: 98px;
	}
	.mailing-list__text {
		flex-basis: 640px;
	}
	.prioritase__list {
		gap: 30px 133px;
	}
	.footer__inner {
		grid-template-columns: repeat(3, fr1);
		grid-template-rows: 1fr 1fr;
	}
	.footer__products,
	.footer__company {
		grid-row: span 3;
	}
	.footer__contacts {
		margin-top: -55px;
		grid-column: 3 / 4 ;
		grid-row: 2 / 3;
	}
	.footer__copy {
		margin-right: 120px;
	}
}

@media (max-width: 680px) {
	.container {
		padding-left: 10px;
		padding-right: 10px;
	}
	.header__inner {
		padding-right: 0;
		padding-left: 0;
	}
	.top__title {
		font-size: 40px;
		line-height: normal;
	}
	.blockquote__text {
		font-size: 16px;
		max-width: 376px;
		margin-top: 60px;
		margin-bottom: 60px;
	}
	.main-blog__item:nth-child(even) {
		margin-left: 0;
	}
}

@media (max-width: 480px) {
	.logo img {
		width: 39px;
	}
	.menu__list {
		width: 360px;
	}
	.assortiment {
		margin-bottom: 60px;
	}
	.reviews__list{
		gap: 30px 20px;
	}
	.reviews {
		padding: 50px 0;
	}
	.reviews__item {
		flex-basis: 220px;
	}
	.main-blog {
		padding: 60px 0;
	}
	.main-blog__item-img {
		width: 230px ;
	}
	.mailing-list {
		padding: 60px 0;
	}
	.mailing-list__text {
		flex-basis: 100%;
		font-size: 13px;
	}
	.mailing-list__inner {
		gap: 30px 0;
	}
	.mailing-list__email {
		width: 324px;
		margin-right: 20px;
	}
	.mailing-list__btn {
		padding: 10px 39px;
	}
	.prioritase {
		padding: 60px 0;
	}
	.footer__inner {
		display: flex;
		flex-wrap: wrap;
	}
	.footer__blockquote {
		width: 100%;
		margin-bottom: 100px;
	}
	.footer__blockquote-text {
		margin-top: 50px;
	}
	.footer__contacts {
		width: 100%;
	}
	.footer__contacts-title {
		margin-bottom: 20px;
		text-align: center;
	}
	.footer__contacts-text {
		text-align: center;
	}
	.footer__nav {
		flex-wrap: nowrap;
	}
	.footer__social {
		margin-left: 30px;
	}
	.footer__copy {
		margin-right: auto;
	}
	.footer__products {
		margin-right: auto;
		padding-right: 20px;
	}
	.footer__company {
		padding-right: 20px;
		margin-right: 55px;
	}
	.footer__products-title,
	.footer__company-title {
		margin-bottom: 30px;
	}
	.footer {
		padding: 50px 0 10px;
	}
	
}
@media (max-width: 430px) {

	.title {
		margin-bottom: 30px;
		font-size: 24px;
	}

	.user-actions__item-search {
		margin-left: 0;
	}
	.header__inner{
		padding: 10px 0;
	}
	.top__title {
		font-size: 24px;
		margin-bottom: 10px;
	}
	.top__text {
		font-size: 13px;
		margin-bottom: 30px ;
	}
	.top__inner {
		min-height: 367px  ;
	}
	.blockquote__text {
		max-width: 340px;
		margin-top: 80px;
		margin-bottom: 70px;
	}
	.assortiment {
		margin-bottom: 80px;
	}
	.assortiment__img {
		max-width: 170px;
	}
	.reviews__item {
		flex-basis: 100%;
	}
	.reviews__item:last-child,
	.reviews__item:first-child {
		display: none;
	}
	.main-blog {
		padding: 50px 0;
	}
	.main-blog__item {
		display: block;
		max-width: 270px;
	}
	.main-blog__item:nth-child(even) {
		display: none ;
	}
	.main-blog__item-img {
		max-width: 100%;
	}
	.main-blog__list {
		justify-content: center;
	}
	.main-blog__item-title {
		min-height: auto;
	}
	.mailing-list__email {
		width: 205px;
	}
	.prioritase {
		padding: 50px 0;
	}
	.prioritase__title {
		font-size: 20px;
	}
	.prioritase__text {
		font-size: 10px;
		font-weight: 400;
	} 
	.prioritase__list {
		gap: 40px 100px;
	}
	.footer__company {
		padding-right: 15px;
		margin-right: 0px;
	}
	.footer__nav {
		flex-wrap: wrap;
		justify-content: center;
	}
	.footer__products {
		padding-right: 10px;
	}
	.footer__social {
		margin-left:  auto;
		margin-right: auto;
	}
} 
